/* 共用元素 */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.full {
    background: #415165;
    padding: 24px 0 36px 0;
    color: #ffffff;
}

.primary-title {
    line-height: 45px;
    padding-bottom: 8px;
    border-bottom: 1px solid #000;
    span {
        font-size: 24px;
        color: #a00404;
        font-weight: 500;
        margin-left: 16px;
    }
}

.secondary-title {
    line-height: 45px;
    padding-bottom: 8px;
    border-bottom: 1px solid #fff;
    span {
        color: #ffffff;
        font-size: 24px;
        margin-left: 16px;
    }
}





// 定寬header區塊(白色底)
header {
    padding: 47px 0 48px 0;
    h1 {
        line-height: 94px;
        padding-bottom: 17px;
        border-bottom: 2px solid #000;
        margin-bottom: 48px;
    }
}


// 定寬introduction區塊(白色底)
.introduction {
    .primary-title {
        margin-bottom: 16px;
    }
    ul {
        margin-bottom: 72px;
        li {
            margin-bottom: 24px;
        }
    }
    .list {
        border-left: 1px solid #96A9C4;
        padding-left: 24px;
        img {
            margin: 8px 0 8px 0;
        }
        p {
            width: 642px;
        }
    }
}



// 滿版skill區塊(灰藍底)
.skill {
    margin-bottom: 72px;
    // 標題區塊寬度較小(固定寬度996px)
    .row {
        width: 996px;
        margin: 0 auto;
        text-align: center;
    }
    .secondary-title {
        margin-bottom: 40px;
    }
    .list {
        display: inline-block;
        border-left: 1px solid #96A9C4;
        padding-left: 24px;
        font-weight: 300;
        li {
            margin-bottom: 20px;
            line-height: 28px;
            text-align: left;
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}


// 滿版footer區塊(灰藍底)
footer {
    .secondary-title {
        margin-bottom: 32px;
        text-align: center;
    }
    ul {
        font-weight: 300;
        text-align: center;
        li {
            margin-bottom: 16px;
        }
    }
    a {
        color: #ffffff;
        &:hover {
            color: rgb(160, 160, 160);
        }
    }
    .community {
        display: inline-block;
        a {
            margin-right: 24px;
            display: inline-block;
            &:last-child {
                margin-right: 0;
            }
            &:hover {
                opacity: 0.5;
            }
        }
    }
}



